[Desktop Entry]
Type=Application
Name=start agv
GenericName=agv_ui
Icon=/home/nxrobo/leo_agv/doc/leo_agv.ico
Exec=/home/nxrobo/leo_agv/doc/start_agv.sh
Terminal=true
